
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Aquarium Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Design your aquarium!</h1>
<img th:src="@{/images/AquariumCloud.jpg}"/>
<form method="POST" th:object="${aquarium}">

    <span class="validationError"
          th:if="${#fields.hasErrors('components')}"
          th:errors="*{components}">component Error</span>

    <!-- tag::all[] -->
    <div class="grid">

        <div class="component-group" id="tank">
            <!-- tag::designateWrap[] -->
            <h3>Design your tank:</h3>


            <select th:field="*{components}">
                <option th:each="component : ${tank}" th:value="${component.id}">
                      <span th:text="${component.name}">Component Of Aquarium </span>
                </option>
            </select>
        </div>

        <div class="component-group" id="fish">
            <h3>Pick your fish:</h3>
            <div th:each="component : ${fish}">
                <input th:field="*{components}" type="checkbox"
                       th:value="${component.id}"/>
                <span th:text="${component.name}">Component Of Aquarium</span>
                <br/>
            </div>
        </div>

        <div class="component-group" id="aquaplant">
            <h3>Choose your plants:</h3>
            <div th:each="component: ${aquaplant}">
                <input th:field="*{components}" type="checkbox"
                       th:value="${component.id}"/>
                <span th:text="${component.name}">Component Of Aquarium</span><br/>
            </div>
        </div>

        <div class="component-group" id="aquasoil">
            <h3>Determine your soil:</h3>
            <div th:each="component : ${aquasoil}">
                <input th:field="*{components}" type="checkbox"
                       th:value="${component.id}"/>
                <span th:text="${component.name}">Component Of Aquarium</span><br/>
            </div>
        </div>

        <div class="component-group" id="decor">
            <h3>Select your decor:</h3>
            <div th:each="component : ${decor}">
                <input th:field="*{components}" type="checkbox"
                       th:value="${component.id}"/>
                <span th:text="${component.name}">Component Of Aquarium</span><br/>
            </div>
        </div>
    </div>

    <div>


        <h3>Name your aquarium creation:</h3>
        <input type="text" th:field="*{name}"/>
        <!-- end::all[] -->
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
        <!-- tag::all[] -->
        <br/>

        <button>Submit Your Taco</button>
    </div>
    <!-- tag::closeFormTag[] -->
</form>
</body>
</html>

